.DishCard{
    display: flex;
    align-items: flex-start;
    width: 75%;
}
.Img>img{
    width: 350px;
    height: 250px;
    
}
.Info{
    width: 100%;
    font-size: 20px;
}
.Img{
    margin-left: 3%;
    margin-bottom: 2%;
}
h6{
    color: green;
}
h6:hover{
    text-decoration: underline;
    cursor: pointer;
}
.AboutDish{
    display: flex;
    font-size: 15px;
    width: 20%;
    justify-content: space-between;
}
.ServingsAndIngridients{
    display: flex;
    font-size: 15px;
    padding: 5px;
   
    width:80%;
}
.Servings{
    display: flex;
}
.Ingridients{
    margin-left: 10px;
    display: flex;
}
.CuisinesAndTypes{
    display: flex;
  
    width: 30%;
    justify-content: space-around;
}
.Price{
    padding: 5px;
    display: flex;
    align-items: center;
}
.Add_Button{
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    transition: 5ms ease-in-out;
}
.Add_Button:hover{
    transform: scale(1.2);
    transition: 5ms ease-in-out;
}