.DishCard{
    display: flex;
    align-items: flex-start;
    width: 75%;
}
.Img>img{
    width: 350px;
    height: 250px;
    
}
.Info{
    width: 100%;
}
.Img{
    margin-left: 3%;
    margin-bottom: 2%;
}
h6{
    color: green;
}
h6:hover{
    text-decoration: underline;
    cursor: pointer;
}
.AboutDish{
    display: flex;
    font-size: 15px;
    width: 20%;
    justify-content: space-between;
}
.Servings{
    display: flex;
}