@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.Header {
  width: 100%;
  display: flex;
  padding: 12px;
}
.Header_Left_Side {
  display: flex;
  width: 50%;
  align-items: center;
}
.Header_menu {
  width: 95%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 10px;
}
.Header_menu > li:hover {
  color: red;
  cursor: pointer;
}
.Header_Left_Side > h1:hover {
  cursor: pointer;
  color: red;
}
.Header_Right_Side {
  padding: 0 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.Header_Right_Side > div {
  padding: 0 30px;
  height: 40px;
  display: flex;
  align-items: center;
  border-right: 1px solid grey;
}

.Header_Button{
  padding: 10px;
  background: none;
  cursor: pointer;
  outline: none;
  border: 0px;
}
.Header_Button:hover{
    color: red;
}
img {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
.SignIn > img {
  margin-right: 10px;
}

.my-node-enter {
  transform: scale(0.2);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: opacity 500ms, transform 500ms;
}

.my-node2-enter {
  transform: scale(0.2);
}
.my-node2-enter-active {
  opacity: 0.2;
  transform: translateX(0);
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms ease-in;
}
.my-node2-exit {
  opacity: 1;
}
.my-node2-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: opacity 900ms, transform 900ms;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
.my-node3 {
  z-index: 20;
}
.my-node3-enter {
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
}
.my-node3-enter-active {
  opacity: 0.2;
  transform: translateX(0);
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.my-node3-exit {
  opacity: 1;
}
.my-node3-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: opacity 200ms, transform 200ms;
}
