* {
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  background-color: black;
}
.container {
  max-width: 1200px;
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  height: auto;
  background-color: white;
}
@media only screen and (width<1200px) {
  .Header_Left_Side {
    width: 100%;
  }
  .Header_Right_Side {
    width: 100%;
  }
}
@media only screen and (height>100vh) {
   .App{
    height: 100%;
   }
}
.TopIngr {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: large;
}
