*{
  margin: 0;
  padding: 0;

}
.App{
  background-color: grey;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  background-color: white;
}
@media only screen and (width<1200px) {
  .Header_Left_Side{
      background-color: red;
      width: 100%;
  }
  .Header_Right_Side{
      width: 100%;
  }
}